*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*/build/
AppInfoSDK/build/tmp/compileDebugJavaWithJavac/source-classes-mapping.txt
AppInfoSDK/build/outputs/logs/manifest-merger-debug-report.txt
AppInfoSDK/build/intermediates/manifest_merge_blame_file/debug/manifest-merger-blame-debug-report.txt
AppInfoSDK/build/intermediates/incremental/packageDebugResources/merger.xml
AppInfoSDK/build/intermediates/incremental/packageDebugResources/compile-file-map.properties
AppInfoSDK/build/intermediates/incremental/packageDebugAssets/merger.xml
AppInfoSDK/build/intermediates/incremental/mergeDebugShaders/merger.xml
AppInfoSDK/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
AppInfoSDK/build/intermediates/compiled_local_resources/debug/out/drawable-xxxhdpi-v4_ic_launcher_background.png.flat
AppInfoSDK/build/intermediates/compiled_local_resources/debug/out/drawable-xxhdpi-v4_ic_launcher_background.png.flat
AppInfoSDK/build/intermediates/compiled_local_resources/debug/out/drawable-xhdpi-v4_ic_launcher_background.png.flat
AppInfoSDK/build/intermediates/compiled_local_resources/debug/out/drawable-mdpi-v4_ic_launcher_background.png.flat
AppInfoSDK/build/intermediates/compiled_local_resources/debug/out/drawable-ldpi-v4_ic_launcher_background.png.flat
AppInfoSDK/build/intermediates/compiled_local_resources/debug/out/drawable-hdpi-v4_ic_launcher_background.png.flat
AppInfoSDK/build/intermediates/compiled_local_resources/debug/out/drawable-anydpi-v21_ic_launcher_background.xml.flat
app/release/output-metadata.json
app/release/zapping_1.0.apk
